<!--/*@thymesVar id="paginaActual" type="java.lang.String"*/-->

<nav class="navbar" role="navigation" aria-label="main navigation" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img th:src="@{/img/branding.png}" alt="Branding">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a th:classappend="${paginaActual == 'inicio'} ? 'is-active'" aria-current="page" class="navbar-item" th:href="@{/}">
                Inicio
            </a>

            <a th:classappend="${paginaActual == 'stock'} ? 'is-active'" aria-current="page" class="navbar-item" th:href="@{/1}">
                Ver Stock
            </a>
        </div>

        <div class="navbar-end">
            <form class="navbar-item" th:action="@{/search}" role="search" method="get">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input is-rounded" type="search" placeholder="Buscar..." aria-label="Search" name="query">
                    </div>
                    <div class="control">
                    <button class="button is-rounded is-medium" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="navbar-item">
                <div class="buttons">
                    <a sec:authorize="!isFullyAuthenticated()" class="button is-primary" th:href="@{/login}">
                        <strong>Iniciar Sesión</strong>
                    </a>
                    <a sec:authorize="isFullyAuthenticated()" class="button is-danger" th:href="@{/logout}">
                        Cerrar Sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="https://kit.fontawesome.com/114dee6860.js" crossorigin="anonymous"></script>