<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bulma.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{element/navbar}"></div>
<div class="container">
    <form action="#" th:action="@{/add}" method="post" th:object="${product}">
        <label><br>Imagen:<br>
          <input type="text" class="input" th:field="*{image}">
        </label>
        <label><br>Nombre:<br>
          <input type="text" class="input" th:field="*{name}">
        </label>
        <label><br>Precio:<br>
          <input type="text" class="input" th:field="*{price}">
        </label>
        <label><br>Stock:<br>
          <input type="text" class="input" th:field="*{stock}">
        </label>
        <button type="submit" class="button is-primary">Enviar</button>
        </form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>