<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bulma.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{element/navbar}"></div>
<div class="container">
    <form action="#" th:action="@{/edit}" method="post" th:object="${product}">
        <label>
          <img th:src="${product.getImage()}" alt="Imagen del producto">
          <input type="text" class="input" th:field="*{image}" th:value="${product.getImage()}">
        </label>
          <input type="hidden" class="input" th:field="*{id}" th:value="${product.getId()}">
        <label><br>Nombre:<br>
          <input type="text" class="input" th:field="*{name}" th:value="${product.getName()}">
        </label>
        <label><br>Precio:<br>
          <input type="text" class="input" th:field="*{price}" th:value="${product.getPrice()}">
        </label>
        <label><br>Stock:<br>
          <input type="text" class="input" th:field="*{stock}" th:value="${product.getStock()}">
        </label>
        <button type="submit" class="button is-primary">Enviar</button>
    </form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>