<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bulma.min.css}" rel="stylesheet">
</head>
<body style="height: 100vh; overflow: hidden">
    <div th:replace="~{element/navbar}"></div>
    <div class="container is-flex is-justify-content-center is-align-items-center is-flex-direction-column" style="height: calc( 100% - 3rem );">
        <img  th:src="@{/img/branding.png}" alt="logotipo de la marca" style="height: 40%;">
        <h1 class="title is-1">Bienvenido al sistema de contról de stock</h1>
        <p class="subtitle is-5">Si usted es un cajero o un cliente, siéntase libre de explorar los productos disponibles pulsando el botón
            "Ver Stock" en la parte superior de la página.</p>
        <p class="subtitle is-5">Por otro lado, si es un administrador del sitio web o gerente de la tienda, puede presiónar el botón
            "Iniciar Sesión" para desbloquear capacidades de contról de stock.</p>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>