<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bulma.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{element/navbar}"></div>
    <div class="container">
        <a sec:authorize="isFullyAuthenticated()" class="button is-success m-3" th:href="@{/add}">Añadir Producto</a>
        <div class="is-flex is-flex-direction-row is-justify-content-space-between is-flex-wrap-wrap is-align-items-stretch">
        <div class="card m-3 is-flex is-justify-content-space-between is-flex-direction-column" th:each="product: ${products}" style="width: 15rem;">
            <div class="card-image">
                <figure class="image is-1by1">
                    <img
                            th:src="${product.getImage()}"
                            alt="Imagen de Producto"
                    />
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <strong><span th:text="${product.getName()}"></span></strong><br>
                    <span th:text="${'$'+product.getPrice()}"></span><br>
                    <span th:text="${'Stock: ' + product.getStock()}"></span>
                </div>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" th:href="@{/view/{id}(id=${product.getId()})}">Ver</a>
                <a class="card-footer-item" sec:authorize="isFullyAuthenticated()" th:href="@{/edit/{id}(id=${product.getId()})}">Editar</a>
                <form class="card-footer-item" sec:authorize="isFullyAuthenticated()" th:action="@{/delete}" method="post">
                    <input type="hidden" th:value="${product.getId()}" name="id">
                    <button type="submit"><a>Eliminar</a></button>
                </form>
            </footer>
        </div>
        </div>
    </div>
    <div class="container is-flex is-justify-content-center">
        <a th:if="${page != 1}" type="button" class="button is-link m-2" th:href="@{/{page}(page=${page - 1})}">Página Anterior</a>
        <a type="button" class="button is-link m-2" th:href="@{/{page}(page=${page + 1})}">Página Siguiente</a>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>