<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Ver Producto</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bulma.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{element/navbar}"></div>
<div class="container">
  <img th:src="${product.getImage()}" alt="Imagen del producto">
  <p class="subtitle is-4">Identificador: <span th:text="${product.getId()}"></span></p>
  <p class="subtitle is-4">Nombre: <span th:text="${product.getName()}"></span></p>
  <p class="subtitle is-4">Precio: <span th:text="${'$'+product.getPrice()}"></span></p>
  <p class="subtitle is-4">Stock: <span th:text="${product.getStock()}"></span></p>
  <a sec:authorize="isFullyAuthenticated()" th:href="@{/edit/{id}(id=${product.getId()})}" class="button is-info">Editar</a>
  <form style="display: inline-block;" sec:authorize="isFullyAuthenticated()" th:action="@{/delete}" method="post">
      <input type="hidden" th:value="${product.getId()}" name="id">
      <input class="button is-danger" type="submit" value="Eliminar" />
  </form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>